@media(max-width:992px){
    .nav{
        padding: 25px 34px 33px;
        margin: 0px;
    }
    .nav__logo-img{
        width: 89px;
        height: 45px;
        margin-right: 162px;
        }
    .nav__ul{
    padding: 0;
    padding-top: 8px;
    width: 415px;
    margin-right: 99px;
    }
    .nav__list:not(:first-child){
        padding-left: 30px;
    }

    .nav__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    }

    .nav__button{
    padding: 0px;
    font-size:18px;
    line-height: 27px;

    }
    
    .nav__button-left{
    margin: 0;
    padding: 0;
    width: 155px;
    height: 47px;
    margin-top: -2px;
    margin-right: -10px;

    }
    
}

@media(max-width:992px){
    .content{
        margin-top: 47px;
    }
    .content__h1{
        margin-right: 5px;
        margin-left:  0px;
        margin-bottom: 26px;
        width: 290px;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #000000;}

        .icon{
            margin-top: 88px;
            width: 87px;
            height: 87px;
            margin-right: 0px;
            }

        .content__p{
            margin-left: 0px;
            width: 417px;
            margin-bottom: 33px;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #8F95A5;
            }

            .head-img{
                margin-right:  -22px;
               }
               
            .head-img__file{
                width: 460px;
                height: 460px;
               margin-top: 35px;
               }

            .content__tap{
                margin-left: 0px;
            width: 290px;
            height: 80px;
            background: #263238;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .content__button{
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #FFFFFF;
                }
}